<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top"><!--border-bottom will add a line at the bottom of the navbar,it is class of bootstrap-->
  <!--Sticky-top class of bootstrap helps in providing fixed navbar,it will not scroll-->
  <div class="container-fluid">
    <a class="navbar-brand text-dark" href="/"><i class="fa-regular fa-compass fa-lg"></i></a><!--This icons is from font awesome-->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link"  href="/">Home</a>
        <a class="nav-link" href="/listings">All Listings</a>
        <a class="nav-link" href="/listings/new">Add new listings</a>
        
    </div>
  </div>
</nav>